/meiduo_project/meiduo_mall/logs

/meiduo_project/meiduo_mall/logs

/meiduo_project/.idea
*.pyc
*.idea
/meiduo_project/meiduo_mall/meiduo_mall/__pycache__

/meiduo_project/meiduo_mall/meiduo_mall/settings/__pycache__
/meiduo_project/meiduo_mall/meiduo_mall/utils/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/utils/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/utils/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/utils/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/libs/captcha/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/libs/captcha/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/verifications/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/verifications/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/verifications/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/verifications/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/migrations/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/migrations/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/migrations/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/users/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/migrations/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/migrations/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/oauth/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/contents/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/contents/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/contents/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/migrations/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/migrations/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/areas/__pycache__/*.pyc
/meiduo_project/meiduo_mall/meiduo_mall/apps/__pycache__/*.pyc

/demo3/demo3/__pycache__
/meiduo_project/meiduo_mall/celery_tasks/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/email/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/email/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/sms/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/sms/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/sms/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/sms/yuntongxun/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/sms/yuntongxun/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/sms/yuntongxun/__pycache__/*.pyc
/meiduo_project/meiduo_mall/celery_tasks/sms/yuntongxun/__pycache__/*.pyc

/demo4/.idea
