{% load listreverse %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板测试</title>
</head>
<body>
<h1>模板测试，Template</h1>
<h1>{{ name }}</h1>
<h1>{{ year }}</h1>
<h1>{{ alist }}</h1>
{# 单行注释 #}

{# 列表和字典都是用点语法去取值，和对象操作属性一样 #}

{% comment  %}
多行注释
{% endcomment %}

<h1>{{ alist.0 }}</h1>
<h1>{{ adict }}</h1>
<h1>{{ adict.name }}</h1>

{# 遍历 #}
<ul>
    {% for item in alist %}
        <li>{{ item }}</li>
{#        {{ forloop.counter }}#}
        {% empty %}
        <p>此列表为空,执行这段语句</p>
    {% endfor %}
    
</ul>

{# if #}
{% if a == 10 %}
    <h1>成立</h1>
{% elif a >= 30 %}
    <h1>a >= 30</h1>
{% else %}
    <h2>a 未知数</h2>
{% endif %}


{{ alist | old_list }}


</body>
</html>